* {
    margin: 0;
    padding: 0;
}

.about-h1 {
    text-align: left;
    margin-left: 0;
    margin-top: 10px;
    font-family: 'Goudy Old Style';
    color: inherit;
}

.about-h4 {
    margin-top: 30px;
    font-weight: normal;
    text-align: justify;
    font-family: 'Goudy Old Style';
    font-size: 25px;
}

#wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 25px;
    color: black;
    margin: 50px 0;
    height: 600px;
}

#left {
    text-align: center;
    background-color: lightgray;
    border-radius: 5px;
    width: 100%;
    height: 550px;
}

#right {
    text-align: center;
    border-radius: 5px;
    width: 100%;
}

.about-img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    #wrapper {
        flex-wrap: wrap;
    }
    #right {
        flex-wrap: wrap;
    }
}