* {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 0;
    text-align: center;
    height: 400px;
    overflow: hidden;
    background: url(pastry.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* color: white; */
    /* padding-top: 1px; */
}


/* Was getting problems moving the contents of the h1 tag down the container. */


/* overflow can be used but you can also use padding-top above. */


/* Padding-top if set to at least lpx will give the h1 tag something to push against so when it is going down, it won't bring the container with it. */

h1 {
    margin-top: 150px;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    color: white;
}

.header-img {
    margin: 150px auto;
    width: 50%;
    height: auto;
}