* {
    margin: 0;
    padding: 0;
}

nav {
    height: 20%;
    display: flex;
    width: 100%;
    position: static;
}

ul {
    display: flex;
    list-style: none;
    margin: 30px 0;
}

li {
    font-size: 25px;
    font-family: 'Goudy Old Style';
    margin: 0 50px;
    padding-bottom: 10px;
}

a:hover {
    border-bottom: 1px solid red;
    border-bottom-width: 3px;
    padding-bottom: 3px;
    transition: .2s;
}

.logo {
    width: 200px;
    float: left;
    box-sizing: border-box;
    display: flex;
}

.search-box {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 835px) {
    ul {
        flex-direction: column;
    }
}